h1 {
    font-size: 40px;
    color: white;
    background-color: darkred;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

h4 {
    font-size: 20px;
    color: white;
    background-color: rgb(80, 70, 70);
    border-style: solid;
    border-color: red;
    border-width: 2px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* Menu Horizontal */

#menu ul {
    padding: 10px;
    margin: 0;
    background-color: #2b1010;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 10px 30px;
    text-decoration: none;
    background-color: #ededed;
    /* Faz o link se comportar como caixinha, mas fica na mesma linha */
    display: inline-block;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 50px;
}

#menu ul li a:hover {
    background-color: gray;
    color: blue;
    border-bottom: 3px solid #ea0000;
}

/* menu vertical */
/* selecionar  o ul que estiver dentro do elemento id */
#menuv ul{
    /* remove os marcadores */
    list-style-type: none;
    /* zera a margem esquerda */
    margin-left:0 ;
    /* espaço interno 20px top and botton 50 left and right */
    padding: 20px 50px;
    /* largura fixa  */
    width: 150px;
    background-color: #2b1010;
}
/* seleciona os links dentr dos li daquele ul do #menuv */
#menuv ul li a{
    /* faz cada linha virar um bloco */
    display: block;
    padding: 10px 40px;
    background-color: #ededed;
    color: #333;
    text-decoration:none;
    text-align: center;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 0px;
}

#menuv ul li a:hover{
    background-color: #828774;
    color: #2d19e2;
    border-bottom: 3px solid #ea0000;

}